extends ../shared/template
block content
  h2 Treasure Maps:
  .row
    .col-xs-5
      table.blue(class='table table-striped')
        thead
          th Name
          th Location
          th Difficulty
          th Found?
        tbody
        each treasure in treasures
          tr(data-name=treasure.loc, data-lat=treasure.lat, data-lng=treasure.lng)
            td: a(href='treasure/#{treasure._id}')= treasure.name
            td= treasure.loc
            td= treasure.difficulty
            td= treasure.found
    .col-xs-7
      #map

block scripts
          script(src='/js/user/index.js')
